---
layout: master

blogData:
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}

newsData:
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}
- { title: 'Australia Awards PNG LNG Scholarships', blurb: 'ExxonMobil PNG Limited (EMPNG), operator of the PNG LNG Project has provided K350,000 to support postgraduate PNG students...', btnText: 'Read More'}

tileItems:
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project!!' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}

differentTileItems:
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}
- { imgUrl: 'http://placehold.it/270x160', title: 'PNG LNG Project' , blurb: 'Text / dt / p. Lygon street spruikers brunswick and brunswick st, etihad', btnText: 'Explore'}

htmlBlockExample: '<h1>Idemque diviserunt naturam hominis in animum et corpus.</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ista vestra: Si gravis, brevis; An tu me de L. Duo Reges: constructio interrete. Primum quid tu dicis breve? </p>
<ul>
    <li>Cum ageremus, inquit, vitae beatum et eundem supremum diem, scribebamus haec.</li>
    <li>Hoc est non modo cor non habere, sed ne palatum quidem.</li>
    <li>In quibus doctissimi illi veteres inesse quiddam caeleste et divinum putaverunt.</li>
    <li>Quamquam ab iis philosophiam et omnes ingenuas disciplinas habemus;</li>
</ul>
<p>Ergo omni animali illud, quod appetiti positum est in eo, quod naturae est accommodatum. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? Quem Tiberina descensio festo illo die tanto gaudio affecit, quanto L. Quicquid porro animo cernimus, id omne oritur a sensibus; <a href="http://loripsum.net/" target="_blank">At multis se probavit.</a> <a href="http://loripsum.net/" target="_blank">Eam stabilem appellas.</a> </p>
<h3>Satis est tibi in te, satis in legibus, satis in mediocribus amicitiis praesidii.</h3>
<p>A mene tu? Nam aliquando posse recte fieri dicunt nulla expectata nec quaesita voluptate. </p>
<p><a href="http://loripsum.net/" target="_blank">Restatis igitur vos;</a> Nihil enim hoc differt. Negat enim summo bono afferre incrementum diem. Videsne quam sit magna dissensio? Ego vero volo in virtute vim esse quam maximam; Deinde prima illa, quae in congressu solemus: Quid tu, inquit, huc? </p>
<h2>Nec enim, dum metuit, iustus est, et certe, si metuere destiterit, non erit;</h2>
<p>Invidiosum nomen est, infame, suspectum. Recte dicis; Et ais, si una littera commota sit, fore tota ut labet disciplina. Ut proverbia non nulla veriora sint quam vestra dogmata. Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Mihi enim satis est, ipsis non satis. Quam tu ponis in verbis, ego positam in re putabam. </p>
<ol>
    <li>Itaque his sapiens semper vacabit.</li>
    <li>De malis autem et bonis ab iis animalibus, quae nondum depravata sint, ait optime iudicari.</li>
</ol>'
---
<section class="component">
    <div class="container-fluid">
        <h2>Component Examples</h2>
        <p>Anything on this page should be able to exist on any other page with no modifications (see Homepage)</p>

        {{> component-html-block
            content = htmlBlockExample
        }}

        {{> component-latest-news
            content = newsData
        }}

        {{> component-standard-tile
            content = tileItems
        }}

        {{> component-standard-tile
            content = differentTileItems
        }}
    </div>
</section>
