---
layout: master
htmlBlock: <%= htmlData %>
blogPosts: <%= blogData %>
newsListing: <%= newsData %>
contentTiles: <%= contentTilesData %>
imageTiles: <%= imageTilesData %>
---
<section class="component">
    <div class="container-fluid">
        <h2>Component Examples</h2>
        <p>Anything on this page should be able to exist on any other page with no modifications (see Homepage)</p>

        {{> component-html-block
            content = htmlBlock
        }}

        {{> component-latest-news
            content = newsListing
        }}

        {{> component-standard-tile
            content = contentTiles
        }}

        {{> component-standard-tile
            content = imageTiles
        }}
    </div>
</section>
