<div class="component-social">
    <span>Follow us</span>
    <a href="#" title="">
        <svg class="icon icon--facebook">
            <use xlink:href="#facebook">
        </svg>
    </a>
    <a href="#" title="">
        <svg class="icon icon--twitter">
            <use xlink:href="#twitter">
        </svg>
    </a>
    <a href="#" title="">
        <svg class="icon icon--google">
            <use xlink:href="#google">
        </svg>
    </a>
    <a href="#" title="">
        <svg class="icon icon--linkedin">
            <use xlink:href="#linkedin">
        </svg>
    </a>
</div>