<header class="header {{modifier}}">

	<div class="header__container">

		<a href="/" class="logo">
			<img src="http://placehold.it/40x40" alt="logo" />
			<span class="brand-name">Assemble Demo</span>
		</a>

		{{> component-header-menu }}

	</div>

</header>
