<nav class="header__menu">

    <svg class="icon icon-menu js-mobile-menu-trigger">
        <use xlink:href="#menu" />
    </svg>

    <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Work</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact us</a></li>
        <li class="">
            <svg class="icon icon-search">
                <use xlink:href="#search" />
            </svg>
        </li>
    </ul>

</nav>