<footer class="site-footer">
    <div class="footer-bar">
        <a href="#" title="" class="logo">
            <img src="http://placehold.it/160x40" alt="" />
        </a>
        {{> component-social}}
    </div>

    <div class="copyright">
        <p>&copy; 2016 - GS FED Boilerplate. All Rights Reserved</p>
        <a href="http://www.getstarted.com.au/" target="_blank">Design and Development by Get Started</a>
    </div>
</footer>